@using Model;
@using Model.ClientManage;
@using Model.Laboratory;
@using Model.ExpePlan;
@{
    ViewBag.Title = "SampleEdit";
    Layout = null;
    var info = ViewBag.Info == null ? new Model.tb_Sample() : (Model.tb_Sample)ViewBag.Info;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>样品详情</title>
    <link href="/Skins/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/Skins/js/jquery-1.10.2.js"></script>
    <script src="~/Skins/artDialog/dist/dialog.js"></script>
    <script src="~/Skins/artDialog/dist/dialog-plus.js"></script>
    <link href="/skins/admin/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="/skins/admin/vendor/datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <style type="text/css">
        #formdata.table tbody tr td {border: 0px;}
        #formdata.table tbody tr td label {width:90px; text-align:right;}
        #formdata.table tbody tr td input.form-control {width:150px;}
        #formdata.table tbody tr td select.form-control {width:150px;}
    </style>
</head>
<body>
    <div style="width:1050px;">
        <div role="form">
            <!--样品信息-->
            <table id="formdata" class="table form-group form-inline">
                <tbody>
                    <tr>
                        <td>
                            <label>样品名称：</label>
                            <input type="text" class="form-control" id="SampleName" name="name" value="@info.name" />
                        </td>
                        <td>
                            <label>生产日期：</label>
                            <input type="text" class="form-control inputtime" name="productDate" value="@(info.productDate!=null?Convert.ToDateTime(info.productDate).ToShortDateString():"")" />
                        </td>
                        <td>
                            <label>保质期：</label>
                            <input type="text" class="form-control" name="expirationDate" value="@info.expirationDate" />
                        </td>
                        <td>
                            <label>包装方式：</label>
                            <input type="text" class="form-control" name="packaging" value="@info.packaging" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>样品编号：</label>
                            <input type="text" class="form-control" name="sampleNum" value="@info.sampleNum" />
                        </td>
                        <td>
                            <label>产品批次：</label>
                            <input type="text" class="form-control" name="protNum" value="@info.protNum" />
                        </td>
                        <td>
                            <label>规格型号：</label>
                            <input type="text" class="form-control" name="modelType" value="@info.modelType" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label>抽样形式：</label>
                            <select class="form-control DetectionType" id="isDetection" name="isDetection" onchange="DetectionChange()">
                                <option value="false" @(info.isDetection ? "" : "selected")>送样</option>
                                <option value="true" @(info.isDetection ? "selected" : "")>抽样</option>
                            </select>
                        </td>
                        <td>
                            <label>送/抽检日期：</label>
                            <input type="text" class="form-control inputtime" name="detectionDate" value="@(info.detectionDate!=null?Convert.ToDateTime(info.detectionDate).ToShortDateString():"")" />
                        </td>
                        <td>
                            <label>抽样者：</label>
                            <input type="text" class="form-control DetectionType_True" name="detectionUser" value="@info.detectionUser" />
                        </td>
                        <td>
                            <label>样品数量：</label>
                            <input type="text" class="form-control" name="batch" value="@info.batch" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>抽样单位：</label>
                            <input type="text" class="form-control DetectionType_True" name="detectionCompany" value="@info.detectionCompany" />
                        </td>
                        <td>
                            <label>抽样地点：</label>
                            <input type="text" class="form-control DetectionType_True" name="detectionAdress" value="@info.detectionAdress" />
                        </td>
                        <td>
                            <label>送样单位：</label>
                            <select class="form-control  DetectionType_False" id="drop_InspectCompany" name="InspectCompany" onchange="GetInspectAddress()">
                                @{
                                    var ClientList = ViewBag.ClientList as List<E_tb_ClientManage>;
                                    foreach (var item in ClientList)
                                    {
                                        <option value="@item.ClientID" @(info.InspectCompany == item.ClientID ? "selected" : "")>@item.ClientName</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <label>送样地址：</label>
                            <input type="text" class="form-control DetectionType_False" id="InspectAddress" name="InspectAddress" value="@info.InspectAddress" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>存储条件：</label>
                            <input type="text" class="form-control" name="storcondition" value="@info.storcondition" />
                        </td>
                        <td>
                            <label>测试部门：</label>
                            <input type="text" class="form-control" name="checkdepar" value="@info.checkdepar" />
                        </td>
                        <td>
                            <label>紧急程度：</label>
                            <select class="form-control" name="urgentlevel">
                                <option value="1" @(info.urgentlevel==1 ? "selected" : "")>普通</option>
                                <option value="2" @(info.urgentlevel==2 ? "selected" : "")>紧急</option>
                            </select>
                        </td>
                        <td>
                            <label>样品管理员：</label>
                            <input type="text" disabled="disabled" class="form-control" name="sampleAdmin" value="@info.sampleAdmin" />

                            <!--隐藏属性-->
                            <input type="hidden" id="AreaID" name="AreaID" value="@info.AreaID" />
                            <input type="hidden" id="SampleID" name="id" value="@info.id"/>
                            <input type="hidden" id="createDate" name="createDate" value="@info.createDate" />
                            <input type="hidden" id="createUser" name="createUser" value="@info.createUser" />
                            <input type="hidden" id="handleDate" name="handleDate" value="@info.handleDate" />
                            <input type="hidden" id="handleUser" name="handleUser" value="@info.handleUser" />
                        </td>
                    </tr>
                </tbody>
            </table>


            <!--保存按钮-->
            <div style="width:100%;text-align:center;padding-bottom:20px;">
                <button type="button" class="btn btn-primary" onclick="save(1)">保存样品信息</button>
            </div>

            <!--实验计划-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    实验计划
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="form-inline" style="padding-bottom:10px;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">检验项目</span>
                                <select class="form-control" id="dropProject">
                                    @{
                                        var ProjectList = ViewBag.ProjectList as List<E_tb_Project>;
                                        foreach (var item in ProjectList)
                                        {
                                            <option value="@item.ProjectID">@item.ProjectName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">检验日期</span>
                                <div class='input-group date inputtime'>
                                    <input type='text' class="form-control" id='InspectTime' value="" style="width:120px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnAddExpePlan" class="btn btn-success" onclick="AddExpePlan()" title=""><i class="fa fa-plus"></i> 添加 </button>
                        </div>
                    </div>
                    <div style="min-height:200px;max-height:300px;overflow-y:auto;">
                        <table id="tab_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>检验项目</th>
                                    <th>检验日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="ExpePlantbody">
                                @{
                                    var ExpePlanList = ViewBag.ExpePlanList as List<E_tb_ExpePlan>;
                                    foreach (var item in ExpePlanList)
                                    {
                                        <tr id="tr_ExpePlan_@item.PlanID">
                                            <td>@item.ProjectName</td>
                                            <td>@(item.InspectTime!=null?Convert.ToDateTime(item.InspectTime).ToShortDateString():"")</td>
                                            <td><a href="javascript:delExpePlan(@item.PlanID)">删除</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

            <!--继续添加按钮-->
            <div style="width:100%;text-align:center;">
                <button type="button" class="btn btn-primary" id="ContinueAdd" onclick="save(2)">继续添加样品</button>
            </div>

        </div>
    </div>


    <script type="text/javascript">
        //抽样形式
        function DetectionChange()
        {
            var isDetection = $(".DetectionType").val();
            if (isDetection == "true") { //判断是否为抽样
                $(".DetectionType_True").removeAttr("disabled");
                $(".DetectionType_False").removeAttr("disabled").val("").attr("disabled", "disabled");
            }
            else {
                $(".DetectionType_True").removeAttr("disabled").val("").attr("disabled", "disabled");
                $(".DetectionType_False").removeAttr("disabled");
            }
        }

        //添加实验计划
        function AddExpePlan()
        {
            var SampleID = $("#SampleID").val();        //样品ID
            var PorjectID = $("#dropProject").val();    //检验项目
            var ProjectName=$("#dropProject option:selected").text();
            var InspectTime = $("#InspectTime").val();  //检验日期

            if (SampleID == "" || SampleID == "0") {
                alert("请先保存样品基本信息，再通过编辑菜单相应实验计划！");
                return;
            }
            if (InspectTime == "")
            {
                alert("请选择检验日期！");
                return;
            }

            var data = "ProjectID=" + PorjectID + "&SampleID=" + SampleID + "&InspectTime=" + InspectTime;

            $.post("/expeplan/addexpeplan", data, function (data) {
                var jsondata = eval(data);
                if (jsondata.msg == "OK") {
                    //追加行
                    $("#ExpePlantbody").append("<tr id=\"tr_ExpePlan_" + jsondata.id + "\"><td>" + ProjectName + "</td><td>" + InspectTime + "</td><td><a href=\"javascript:delExpePlan(" + jsondata.id + ")\">删除</a></td></tr>");
                } else {
                    alert(jsondata.msg);
                }
            });
        }

        //删除实验计划
        function delExpePlan(PlanID)
        {
            if (confirm("确定要删除该实验计划吗？")) {
                $.getJSON("/ExpePlan/Delete/" + PlanID, function (data) {
                    if (data == "删除成功！") {
                        $("#tr_ExpePlan_" + PlanID).remove();
                    }
                    else {
                        alert(data);
                    }
                });
            }
        }

        //保存
        function save(savetype) {

            var SampleName = $("#SampleName").val();
            if (SampleName == "") {
                alert("请输入样品名称！");
                return false;
            }

            if (savetype == 2)
            {
                $('#ContinueAdd').text('继续添加样品(3)').attr("disabled", "disabled");
            }

            var data = "p=1";
            $("#formdata input").each(function () {
                data += "&" + $(this).attr("name") + "=" + $(this).val();
            });
            $("#formdata select").each(function () {
                data += "&" + $(this).attr("name") + "=" + $(this).val();
            });
            $.post("/Sample/Save", data, function (data) {
                var jsondata = eval(data);
                if (jsondata.result) {
                    if (savetype==1) { //保存样品信息
                        alert(jsondata.msg);
                        $("#AreaID").val(jsondata.areaid);
                        $("#SampleID").val(jsondata.sampleid);
                        $("#createUser").val(jsondata.createuser);
                        $("#createDate").val(jsondata.createdate);
                        $("#btnAddExpePlan").removeAttr("disabled");
                    }
                    else if (savetype == 2) //继续添加样品
                    {
                        $("#SampleID").val(0);
                        $("#btnAddExpePlan").attr("disabled", "disabled");
                        $("#ExpePlantbody").html("");
                        DisableCountDown(2); //禁用继续添加按钮，并倒计时解除禁用
                    }
                    
                } else {
                    alert(jsondata.msg);
                }
            });

            return true;
        }

        //获取送样地址
        function GetInspectAddress()
        {
            var ClientID=$("#drop_InspectCompany").val();
            $.getJSON("/Sample/GetInspectAddress?clientid=" + ClientID, function (data) {
                var jsondata = eval(data);
                if (jsondata.result) {
                    $("#InspectAddress").val(data.inspectaddress);
                }
                else {
                    alert(jsondata.msg);
                }
            });
        }
        
        //禁用倒计时
        function DisableCountDown(time) {
            var wait = time;
            if (wait == 0) {
                $('#ContinueAdd').text('继续添加样品').removeAttr("disabled");
            } else {
                setTimeout(function () {
                    $('#ContinueAdd').text('继续添加样品(' + wait + ')').attr("disabled", "disabled");
                    wait--;
                    DisableCountDown(wait);
                }, 1000)
            }
        }

        //页面初始化内容
        $(document).ready(function () {
            $(".inputtime").datetimepicker({
                minView: "month",//设置只显示到月份
                format: "yyyy-mm-dd",//日期格式
                autoclose: true,//选中关闭
                todayBtn: true,//今日按钮
                language: 'cn'
            });

            //初始化 抽样形式
            DetectionChange();

            //初始化 送样地址
            if ($("#isDetection").val() == "false") {
                GetInspectAddress();
            }

            //若为添加，则屏蔽实验室计划添加
            var SampleID = $("#SampleID").val();
            if (SampleID == "" || SampleID == "0") {
                $("#btnAddExpePlan").attr("disabled", "disabled").attr("title","添加样品保存成功后可用！");
            }
        });
    </script>

</body>
</html>
