@using Model;
@using Model.RoleManage;
@{
    ViewBag.Title = "SampleList";
    Layout = "~/Views/Share/_LayOut.cshtml";
    var ePageParameter = ViewBag.ePageParameter == null ? new E_PageParameter() : (E_PageParameter)ViewBag.ePageParameter;
}

<link href="/skins/admin/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="/skins/admin/vendor/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/skins/artDialog/dist/dialog.js"></script>
<script src="/skins/artDialog/dist/dialog-plus.js"></script>

<style type="text/css">
    .displaybtn {text-align:center;color:#5cb85c;}
    .displaycol {display:none;}
</style>

<!-- /.row -->
<div class="ng-scope">
    <div class="row ng-scope">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!--标题-->
            <h1 class="page-header">样品管理</h1>

            <!--操作-->
            <div class="form" style="padding-bottom:10px;">
                <div class="form-inline">

                    <form action="/sample/samplelist" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">单位名称</span>
                                <select class="form-control" id="dropAreaID" name="areaid">
                                    <option value="-1" @(ePageParameter.areaid == -1 ? "selected" : "")>请选择</option>
                                    @{
                                        var arealist = ViewBag.arealist as List<E_tb_Area>;
                                        foreach (E_tb_Area item in arealist)
                                        {
                                            <option value="@item.AreaID" @(ePageParameter.areaid == item.AreaID ? "selected" : "")>@item.AreaName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">样品名称</span>
                                <input type="text" class="form-control" id="txtSampleName" name="samplename" value="@ePageParameter.samplename" style="width:100px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">抽样人</span>
                                    <input type="text" class="form-control" id="txtdetectionUser" name="detectionuser" value="@ePageParameter.detectionuser" style="width:100px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">抽样日期</span>
                                    <div class='input-group date inputtime'>
                                        <input type='text' class="form-control" id='starttime' name="starttime" value="@(ePageParameter.starttime!=null?Convert.ToDateTime(ePageParameter.starttime).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    至
                                    <div class='input-group date inputtime'>
                                        <input type='text' class="form-control" id='endtime' name="endtime" value="@(ePageParameter.endtime!=null?Convert.ToDateTime(ePageParameter.endtime).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--用于后台区分是否需要查询-->
                                <input type="hidden" name="issearch" value="1" />
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 查询 </button>
                                <button type="button" class="btn btn-success" onclick="Edit(0)" ><i class="fa fa-plus"></i> 添加 </button>
                                <button type="button" class="btn btn-danger" onclick="BatchDestory(0)"><i class="fa fa-bitbucket"></i> 销毁 </button>
                            </div>

                            <div class="form-group pull-right">
                                <a class="btn btn-info" href="/Sample/ExportSample?areaid=@ePageParameter.areaid&samplename=@ePageParameter.samplename&detectionuser=@ePageParameter.detectionuser&starttime=@ePageParameter.starttime&endtime=@ePageParameter.endtime" target="_blank"><i class="fa fa-cloud-download"></i> 导出 </a>
                            </div>
</form>
                </div>
            </div>

            <!--内容-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    样品列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="tab_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:30px;"><input type="checkbox" id="selectall" onclick="selectall()" /></th>
                                <th style="width:45px;">序号</th>
                                <th style="width:75px;">样品编号</th>
                                <th>样品名称</th>
                                <th style="width:75px;">产品批次</th>
                                <th style="width:75px;">生产日期</th>
                                <th style="width:75px;">抽样形式</th>
                                <th style="width:85px;">送/抽样日期</th>
                                <th style="width:65px;">抽样者</th>
                                <th style="width:75px;">样品数量</th>
                                <th style="width:75px;">包装方式</th>
                                <th style="width:65px;">保质期</th>
                                <th style="width:75px;">规格型号</th>
                                <th style="width:75px;" class="displaycol">抽样地点</th>
                                <th style="width:75px;" class="displaycol">抽样单位</th>
                                <th style="width:75px;" class="displaycol">送样单位</th>
                                <th style="width:75px;" class="displaycol">送样地址</th>
                                <th style="width:75px;" class="displaycol">存储条件</th>
                                <th style="width:75px;" class="displaycol">测试部门</th>
                                <th style="width:75px;" class="displaycol">紧急程度</th>
                                <th style="width:65px;" class="displaycol">销毁人</th>
                                <th style="width:75px;" class="displaycol">销毁时间</th>
                                <th style="width:80px;" class="displaycol">样品管理员</th>
                                <th style="width:75px;" class="displaybtn">显示更多</th>
                                <th style="width:100px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var SampleList = ViewBag.SampleList as List<tb_Sample>;
                                foreach (var item in SampleList)
                                {
                                    <tr>
                                        <td><input type="checkbox" value="@item.id" class="ckSample" /></td>
                                        <td>@item.rowid</td>
                                        <td>@item.sampleNum</td>
                                        <td title="@item.name">@item.name</td>
                                        <td>@item.protNum</td>
                                        <td>@(item.productDate!=null?Convert.ToDateTime(item.productDate).ToShortDateString():"")</td>
                                        <td>@(item.isDetection ? "抽样" : "送样")</td>
                                        <td>@(item.detectionDate != null ? Convert.ToDateTime(item.detectionDate).ToShortDateString() : "")</td>
                                        <td>@item.detectionUser</td>
                                        <td>@item.batch</td>
                                        <td>@item.packaging</td>
                                        <td>@item.expirationDate</td>
                                        <td>@item.modelType</td>
                                        <td class="displaycol">@item.detectionAdress</td>
                                        <td class="displaycol">@item.detectionCompany</td>
                                        <td class="displaycol">@item.inspectcompanyname</td>
                                        <td class="displaycol">@item.InspectAddress</td>
                                        <td class="displaycol">@item.storcondition</td>
                                        <td class="displaycol">@item.checkdepar</td>
                                        <td class="displaycol">@(item.urgentlevel==2?"紧急":"普通")</td>
                                        <td class="displaycol">@item.handleusername</td>
                                        <td class="displaycol">@item.handleDate</td>
                                        <td class="displaycol">@item.sampleAdmin</td>
                                        <td class="displaybtn">。。。</td>
                                        <td>
                                            @{
                                                if (!(bool)ViewData["aadf1e6b"])
                                                {
                                                    <a href="javascript:void(0)" onclick="Edit(@item.id)">编辑</a>
                                                    <a href="javascript:void(0)" onclick="BatchDestory(@item.id)">销毁</a>
                                                    <a href="javascript:void(0)" onclick="Delete(@item.id)">删除</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                                }
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div style="text-align: center">
                            @Html.Raw(ViewBag.page)
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //初始化时间选择控件
        $(".inputtime").datetimepicker({
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd",//日期格式
            autoclose: true,//选中关闭
            todayBtn: true,//今日按钮
            language: 'cn'
        });

        //隐藏多余列
        $(".displaycol").hide();
        $(".displaybtn").click(function(){
            if($(this).text().toString()=="显示更多")
            {
                $(".displaycol").show();
                $(this).text("隐藏列");
            }
            else if($(this).text()=="隐藏列")
            {
                $(".displaycol").hide();
                $(this).text("显示更多");
            }
        });

    });

    //删除
    function Delete(_itemId) {
        if (confirm("确定要删除数据吗？")) {
            $.getJSON("/Sample/Delete/" + _itemId, function (data) {
                if (data == "OK")
                {
                    alert("删除成功！");
                    window.location.reload();
                }
            });
        }
    }

    //批量销毁样品
    function BatchDestory(id) {
        //得到选中的项
        if (id == 0 && $(".ckSample:checked").length <= 0) {
            alert("请选择一条（或多条）数据进行操作");
            return;
        }
        //先让用户确定是否要删除
        if (confirm("确定要销毁吗？")) {
            //遍历所有的选中行
            var strIds = id.toString();
            if (id == 0) {
                strIds = "";
                $(".ckSample:checked").each(function () {
                    //发送异步请求，删除数据，格式1,2,3,5,6
                    strIds += $(this).val() + ",";
                });
                strIds = strIds.substr(0, strIds.lastIndexOf(","));
            }
            $.post("/Sample/BatchDestroy", { ids: strIds }, function (data) {
                if (data == "OK") {
                    alert("销毁成功！");
                    //重新加载页面
                    window.location.reload();
                } else {
                    alert("销毁失败！");
                }
            });
        }
    }

    //编辑
    function Edit(id)
    {
        var d = dialog({
            title: '样品编辑',
            url: '/sample/edit?id=' + id,
            id: 'id-info',
        });
        d.showModal();
    }

    //全选
    function selectall()
    {
        //alert($("#selectall").is(":checked"));
        if ($("#selectall").is(":checked")) {
            $("input.ckSample").prop("checked", true);
        }
        else {
            $("input.ckSample").prop("checked", false);
        }
    }
</script>
