@model Model.TestReport.E_tb_TestReport
@using Model.RoleManage;
@using Model;
@using System.Data;
@{
    ViewBag.Title = "TestReportList";
    Layout = "~/Views/Share/_LayOut.cshtml";
    var ePageParameter = ViewBag.ePageParameter == null ? new E_PageParameter() : (E_PageParameter)ViewBag.ePageParameter;
}

<link href="/skins/admin/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="/skins/admin/vendor/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/skins/artDialog/dist/dialog.js"></script>
<script src="/skins/artDialog/dist/dialog-plus.js"></script>

<style type="text/css">
    .displaybtn {
        text-align: center;
        color: #5cb85c;
    }

    .displaycol {
        display: none;
    }
</style>



<!-- /.row -->
<div class="ng-scope">
    <div class="row ng-scope">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!--标题-->
            <h1 class="page-header">检验报告</h1>

            <!--操作-->
            <div class="form" style="padding-bottom:10px;">
                <form action="/TestReport/TestReportList" method="get">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">单位名称</span>
                                <select class="form-control" id="dropAreaID" name="areaid">
                                    <option value="">请选择</option>
                                    @{
                                        var arealist = ViewBag.arealist as List<E_tb_Area>;
                                        foreach (E_tb_Area item in arealist)
                                        {
                                            <option value="@item.AreaID" @(ePageParameter.areaid == item.AreaID ? "selected" : "")>@item.AreaName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">签发日期</span>
                                <div class='input-group date inputtime'>
                                    <input type='text' class="form-control" id='starttime' name="issuedtimestart" value="@(ePageParameter.issuedtimestart!=null?Convert.ToDateTime(ePageParameter.issuedtimestart).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                至
                                <div class='input-group date inputtime'>
                                    <input type='text' class="form-control" id='endtime' name="issuedtimeend" value="@(ePageParameter.issuedtimeend!=null?Convert.ToDateTime(ePageParameter.issuedtimeend).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">抽样日期</span>
                                <div class='input-group date inputtime'>
                                    <input type='text' class="form-control" id='starttime' name="samplingtimestart" value="@(ePageParameter.samplingtimestart!=null?Convert.ToDateTime(ePageParameter.samplingtimestart).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                至
                                <div class='input-group date inputtime'>
                                    <input type='text' class="form-control" id='endtime' name="samplingtimeend" value="@(ePageParameter.samplingtimeend!=null?Convert.ToDateTime(ePageParameter.samplingtimeend).ToString("yyyy-MM-dd"):"")" style="width:120px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-inline" style="padding-top:5px;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">样品编号</span>
                                <input type="text" class="form-control" id="txtSampleName" name="samplenum" value="@ePageParameter.samplenum" style="width:100px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">样品名称</span>
                                <input type="text" class="form-control" id="txtSampleName" name="samplename" value="@ePageParameter.samplename" style="width:100px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">抽送检单位</span>
                                <input type="text" class="form-control" id="txtdetectionUser" name="department" value="@ePageParameter.department" style="width:100px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">主检人</span>
                                <input type="text" class="form-control" id="txtdetectionUser" name="maintestpersonne" value="@ePageParameter.maintestpersonne" style="width:100px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">审批</span>
                                <select class="form-control" id="dropexamine" name="isexamine">
                                    <option value="0" @(ePageParameter.isexamine==0?"selected":"")>请选择</option>
                                    <option value="1" @(ePageParameter.isexamine==1?"selected":"")>已审批</option>
                                    <option value="2" @(ePageParameter.isexamine==2?"selected":"")>未审批</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">批准</span>
                                <select class="form-control" id="dropapproval" name="isapproval">
                                    <option value="0" @(ePageParameter.isapproval==0?"selected":"")>请选择</option>
                                    <option value="1" @(ePageParameter.isapproval==1?"selected":"")>已批准</option>
                                    <option value="2" @(ePageParameter.isapproval==2?"selected":"")>未批准</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--用于后台区分是否需要查询-->
                            <input type="hidden" name="issearch" value="1" />
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 查询 </button>
                            @if (Convert.ToBoolean(ViewData["e765047d"]))
                            {
                                <a class="btn btn-primary" href="javascript:Approval()"><i class="fa fa-check"></i> 批量批准 </a>
                            }
                            @if (Convert.ToBoolean(ViewData["5c89823a"]))
                            {
                                <a class="btn btn-success" href="javascript:Examine()"><i class="fa fa-check"></i> 批量审批 </a>
                            }
                        </div>

                        <div class="form-group pull-right">
                            @if (Convert.ToBoolean(ViewData["b5994f84"]))
                            {
                                <a class="btn btn-info" href="javascript:ExpAllPDF()"><i class="fa fa-cloud-download"></i> 批量下载 </a>
                            }
                            <!--用于请求导出文件-->
                            <iframe id="Expframe" src="" width="1" height="1"></iframe>
                        </div>
                    </div>
                </form>
            </div>

            <!--内容-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    实验报告列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="tab_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:30px;"><input type="checkbox" id="selectall" onclick="selectall()" /></th>
                                <th style="width:45px;">序号</th>
                                <th style="width:75px;">样品编号</th>
                                <th>样品名称</th>
                                <th style="width:75px;">生产日期</th>
                                <th style="width:100px;">送/抽检单位</th>
                                <th style="width:85px;">抽样日期</th>
                                <th style="width:75px;">检验类别</th>
                                <th style="width:100px;">原始记录单号</th>
                                <th style="width:65px;">任务单号</th>
                                <th style="width:75px;">签发日期</th>
                                <th style="width:75px;" class="">主检人</th>
                                <th style="width:75px;" class="">审批人</th>
                                <th style="width:75px;" class="">批准人</th>

                                <th style="width:75px;" class="displaycol">结论</th>
                                <th style="width:75px;" class="displaybtn">显示更多</th>
                                <th style="width:220px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var TestReportList = ViewBag.TestReportList as DataTable;
                                foreach (DataRow item in TestReportList.Rows)
                                {
                                    <tr>
                                        <td><input type="checkbox" value="@item["ReportID"].ToString()" class="ckSample" /></td>
                                        <td>@item["Row"].ToString()</td>
                                        <td>@item["SampleNum"].ToString()</td>
                                        <td title="@item["SampleName"].ToString()">@item["SampleName"].ToString()</td>
                                        <td>@(!Convert.IsDBNull(item["ProductionTime"]) ? Convert.ToDateTime(item["ProductionTime"]).ToShortDateString() : "")</td>
                                        <td>@item["Department"].ToString()</td>
                                        <td>@(!Convert.IsDBNull(item["SamplingTime"]) ? Convert.ToDateTime(item["SamplingTime"]).ToShortDateString() : "")</td>
                                        <td>@item["TestTypeName"].ToString()</td>
                                        <td>@Html.Raw(item["RecordIDS"].ToString())</td>
                                        <td>@Html.Raw(item["TaskNoS"].ToString())</td>
                                        <td>@(!Convert.IsDBNull(item["IssuedTime"]) ? Convert.ToDateTime(item["IssuedTime"]).ToShortDateString() : "") </td>
                                        <td class="">@item["MainTestPersonnelName"].ToString()</td>
                                        <td class="">@item["examinePersonnelName"].ToString()</td>
                                        <td class="">@item["ApprovalPersonnelName"].ToString()</td>
                                        <td class="displaycol">@item["Conclusion"].ToString()</td>
                                        <td class="displaybtn">。。。</td>
                                        <td>
                                            @if (Convert.ToBoolean(ViewData["f6fd17f1"]))
                                            {
                                                <a href="javascript:void(0)" class="btn btn-info btn-xs" onclick="Edit(@item["ReportID"].ToString())">检验报告</a>
                                            }
                                            @if (Convert.ToBoolean(ViewData["76707d20"]))
                                            {
                                                <a href="/TestReport/DownById?id=@item["ReportID"].ToString()" target="_blank" class="btn btn-info btn-xs">下载</a>
                                            }
                                            @if (Convert.ToBoolean(ViewData["75669d99"]))
                                            {
                                                <a href="javascript:void(0)" class="btn @(@item["issecrecy"].ToString()=="0"?"btn-info":"btn-warning") btn-xs" onclick="Secrecy(@item["ReportID"].ToString(),@item["issecrecy"].ToString())">@(item["issecrecy"].ToString() == "0" ? "设置保密" : "取消保密")</a>
                                            }
                                            @if (Convert.ToBoolean(ViewData["b988fb96"]))
                                            {
                                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="Delete(@item["ReportID"].ToString())">删除</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div style="text-align: center">
                            @Html.Raw(ViewBag.page)
                        </div>
                    </div>

                </div>
                <!-- /.panel - body-->
            </div>
            <!-- /.col - lg - 12-->
        </div>
    </div>
</div>


<!--编辑-->
<script type="text/javascript">
    $(document).ready(function () {
        //初始化时间选择控件
        $(".inputtime").datetimepicker({
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd",//日期格式
            autoclose: true,//选中关闭
            todayBtn: true,//今日按钮
            language: 'cn'
        });

        //隐藏多余列
        $(".displaycol").hide();
        $(".displaybtn").click(function () {
            if ($(this).text().toString() == "显示更多") {
                $(".displaycol").show();
                $(this).text("隐藏列");
            }
            else if ($(this).text() == "隐藏列") {
                $(".displaycol").hide();
                $(this).text("显示更多");
            }
        });

    });

    //添加
    function Add() {

        var d = dialog({
            title: '检验报告',
            url: '/TestReport/TestReportEdit?EditType=Add',
            id: 'id-info',
        });
        d.showModal();
    }

    //编辑
    function Edit(InfoID) {

        var d = dialog({
            title: '检验报告',
            url: '/TestReport/TestReportEdit?EditType=Edit&InfoID=' + InfoID,
            id: 'id-info',
        });
        d.showModal();
    }

    //删除
    function Delete(InfoID) {
        if (confirm("确定要删除数据吗？")) {
            $.getJSON("/TestReport/Delete/" + InfoID,
            function (data) {
                if (data == "删除成功！") {
                    window.location.reload();
                }
            });
        }
    }

    //全选
    function selectall() {
        //alert($("#selectall").is(":checked"));
        if ($("#selectall").is(":checked")) {
            $("input.ckSample").prop("checked", true);
        }
        else {
            $("input.ckSample").prop("checked", false);
        }
    }

    //批量导出
    function ExpAllPDF() {
        if ($(".ckSample:checked").length < 1) {
            alert("请勾选需要导出的数据！");
            return;
        }

        var ids = "";
        $(".ckSample:checked").each(function () {
            ids += $(this).val() + ",";
        });
        ids = ids.substr(0, ids.lastIndexOf(","));

        //通过请求该页面自动生成PDF文件
        $("#Expframe").attr("src", "/TestReport/ExpAllPDF?ids=" + ids);
    }

    //批量审核
    function Examine() {
        if ($(".ckSample:checked").length < 1) {
            alert("请勾选需要导出的数据！");
            return;
        }
        var ids = "";
        $(".ckSample:checked").each(function () {
            ids += $(this).val() + ",";
        });
        ids = ids.substr(0, ids.lastIndexOf(","));
        $.getJSON("/TestReport/Examine?ids=" + ids,
            function (data) {
                var jsondata = eval(data);
                if (jsondata.result) {
                    alert("审核成功！");
                    window.location.reload();
                }
                else {
                    alert(jsondata.msg);
                }
            });
    }

    //批量批准
    function Approval() {
        if ($(".ckSample:checked").length < 1) {
            alert("请勾选需要导出的数据！");
            return;
        }

        var ids = "";
        $(".ckSample:checked").each(function () {
            ids += $(this).val() + ",";
        });
        ids = ids.substr(0, ids.lastIndexOf(","));

        var d = dialog({
            title: '批量批准',
            url: '/TestReport/BatchApproval?ids=' + ids,
            id: 'id-info',
        });
        d.showModal();
    }

    //设置保密/取消保密
    function Secrecy(ReportID,IsSecrecy)
    {
        if(IsSecrecy=="0") //设置保密
        {
            var d = dialog({
                title: '批量批准',
                url: '/TestReport/Secrecy?ReportID=' + ReportID,
                id: 'id-info',
            });
            d.showModal();
        }
        else
        {
            $.getJSON("/TestReport/CancelSecrecy?ReportID=" + ReportID,
                function (data) {
                    var jsondata = eval(data);
                    if (jsondata.result) {
                        alert("取消保密成功！");
                        window.location.reload();
                    }
                    else {
                        alert(jsondata.msg);
                    }
                });
        }
    }
</script>