@model Model.tb_EasyConsumeIN
@{
    ViewBag.Title = "doEasyConsumeINInfo";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>易耗品-入库</title>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/default/easyui.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/icon.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/demo.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/uploader/uploadify.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")' />
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.8.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/jquery.easyui.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/jquery.uploadify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/swfobject.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftMvcAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Validform/Validform_v5.3.2_min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")'></script>
    <link href="/Skins/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#price").change(total_money);
            $("#amount").change(total_money);
            /*页面控件验证*/
           // $("#inDate").attr("datatype", "*");
           // $("#price").attr("datatype", "*");
           // $("#amount").attr("datatype", "*");
          //  $("#inMoney").attr("datatype", "*");
            $("#user1").attr("datatype", "d");
            $("#uploadfrm").Validform({
                tiptype: 3
            });
            $('#productDate').click(function () { WdatePicker() });
            $('#validDate').click(function () { WdatePicker() });
            
            /*结束 页面控件验证*/
            $('#ddl_easyconsume').combogrid({
                delay: 500,
                panelWidth: 350,
                mode: 'remote',
                idField: 'id',
                textField: 'name',
                url: '/EasyConsume/GetEasyConsumeListForDropDownList',
                onSelect: function (rowIndex, rowData) {
                    $("#guigexinghao").html(rowData.type);
                    $("#kucun").html(rowData.amount);
                    $("#price").val(rowData.price);
                    $("#td_product").html(rowData.product);
                    $("#eId").val(rowData.id);
                },
                columns: [[
                    { field: 'name', title: '名称', width: 250 },
                    { field: 'type', title: '规格型号', width: 100 },
                    { field: 'amount', title: '库存', width: 100 }
                ]]
            });

            $('#ddl_name').combogrid({
                delay: 500,
                panelWidth: 350,
                mode: 'remote',
                idField: 'PersonnelID',
                textField: 'PersonnelName',
                url: '@Url.Action("GetInPersonnelListForDropDownList", "Book")',
                onSelect: function (rowIndex, rowData) {
                    $('#user1').val(rowData.PersonnelID);
                },
                columns: [[
                    { field: 'PersonnelName', title: '名称', width: 120 },
                    { field: 'Department', title: '部门', width: 80 },
                    { field: 'Tel', title: '电话', width: 80 },
                    { field: 'CID', title: '身份证', width: 80 }
                ]]
            });
            $('#inDate').click(function () { WdatePicker() });

            /*****************药品柜*****************/
            $("#ddl_lock").change(function () {
                var parentValue = $(this).val();
                $("#ddl_region").empty();
                if (parentValue != "-1") {
                    $.ajax({
                        url: '@Url.Action("GetRegionByLockID", "EasyConsume")',
                        type: "GET",
                        data: { id: parentValue },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                $("#ddl_region").append($("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>"));
                            }
                        }
                    });
                }
            });

            $("#ddl_region").change(function () {
                var parentValue = $(this).val();
                if (parentValue != "-1") {
                    $("#GPS").val(parentValue);
                }
            });
            /*****************结束药品柜*****************/
        });
        function handle(e) {
            if (e.$2._xmlHttpRequest.response == "1") {
                alert("保存成功！");
                parent.reload();
            } else {
                alert("保存失败！");
            }
        }
        function failed(e) {
            alert("保存失败！");
        }

        function total_money() {
            var price = parseFloat($("#price").val());
            var amount = parseFloat($("#amount").val());
            if (price > 0 && amount > 0) {
                $("#inMoney").val(price * amount);
            }
        }
    </script>
    <style type="text/css">
        .divList {
            position: absolute;
       
            left: 1px;
            z-index: 99;
            width: 1048px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

            a img {
                border: 0;
            }

        .biaoge {
            width: 1040px;
            font-family: '宋体';
            font-size: 12px;
            color: #10607c;
        }

            .biaoge td {
                text-align: center;
                height: 26px;
                vertical-align: middle;
                border: 1px solid #d4d3d3;
            }

        .data_tab02 {
            height: 22px;
            margin: 0px;
            padding-left: 2px;
            background: url(Content/Images/tab_bg02.gif) repeat-x;
        }

            .data_tab02 dd {
                width: 100px;
                height: 22px;
                line-height: 22px;
                float: left;
                text-align: center;
                cursor: pointer;
                margin-right: 2px;
            }

                .data_tab02 dd a {
                    display: block;
                    clear: both;
                    background: url(../../Content/Images/dlbeijing.png);
                    width: 100px;
                    height: 25px;
                    color: #FFFFFF;
                    font-size: 13px;
                }

                    .data_tab02 dd a:hover {
                        color: #ff9c00;
                    }

                    .data_tab02 dd a:focus {
                        color: #ff9c00;
                    }
    </style>
    <style type="text/css">
        #formdata.table tbody tr td {
            border: 0px;
        }

            #formdata.table tbody tr td label {
                width: 90px;
                text-align: right;
            }

            #formdata.table tbody tr td input.form-control {
                width: 150px;
                display: inline-block;
            }
          
            #formdata.table tbody tr td select.form-control {
                width: 150px;
            }
    </style>
</head>
<body>


    <div >
        @using (Ajax.BeginForm("EasyConsumeINCU", "EasyConsume", new AjaxOptions { HttpMethod = "Post", OnSuccess = "handle", OnFailure = "failed" }, new { @id = "uploadfrm" }))
        {
            <input type="hidden" name="eId" value="@ViewBag.id" />
            <table id="formdata" style="width:550px"  class="table form-group form-inline">
                <tr>
             
                    <td align="left" colspan="2">
               


                        <label>名称：</label>
                        <input type="text" class="form-control" name="name" disabled="disabled" value=" @ViewBag.name">
                    </td>
                </tr>
                <tr>
 

                    <td>
                        <label>规格型号：</label>
                        <input type="text" class="form-control" name="name" disabled="disabled" id="guigexinghao" value=" @ViewBag.type">
                    </td>
                    <td>
                        <label>库存：</label>
                        <input type="text" class="form-control" name="name" disabled="disabled" id="kucun" value=" @ViewBag.amount">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>入库日期：</label>
                        <input type="text" class="form-control" name="inDate"  id="inDate"  >
                    </td>
                    
                    <td>
                        <label>单价：</label>
                        <input type="text" class="form-control" name="price" id="price" value="@ViewBag.price" >
                    </td>
                   
                </tr>
                <tr>

                  
                    <td >
                        <label>数量：</label>
                        @Html.TextBoxFor(m => m.amount,new { @class= "form-control" })
                    </td>
                
                    <td>
                        <label>入库金额：</label>
                  
                        <input type="text" class="form-control" name="inMoney" disabled="disabled" id="inMoney" >
                    </td>
                </tr>
                <tr>

                    <td>
                        <label>厂家与产地：</label>
                        <input type="text" class="form-control" id="td_product"  disabled="disabled">
                    </td>

                  
  
                    <td align="left">
                        <label>经手人：</label>
                        <select id="ddl_name" style="width: 152px" class="form-control"></select>
                        @Html.HiddenFor(m => m.user1)
                    </td>
                </tr>
                <tr>

              
                    <td >
                        <label>有效期：</label>
                        @Html.TextBoxFor(m => m.validDate, new { @class = "form-control" })
                    </td>
                  
                    <td>
                        <label>生产日期：</label>
                        @Html.TextBoxFor(m => m.productDate, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                
                    <td>
                        <label>生产厂家：</label>
                        @Html.TextBoxFor(m => m.manufacturers, new { @class = "form-control" })
                    </td>
                    
                </tr>
            
                <tr>
            
                    <td  colspan="2">
                        <label>备注：</label>
                        @Html.TextAreaFor(m => m.remark, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <button type="button" class="btn btn-primary" onclick="$('#uploadfrm').submit()">保存</button>
                      
                      
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
