@model Model.OriginalRecord.E_tb_OriginalRecord
@using System.Data;
@{
    ViewBag.Title = "OriginalRecordEdit";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>原始记录信息</title>
    <link href="~/Content/XINDECSS/MainStyle.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="/Skins/js/pagejscommon.js"></script>
    <style type="text/css">
        .OriginalRecordSelect{width:98%;padding-top:10px;margin:0 auto}
        .OriginalRecordSelect h2{width:100%;height:25px;line-height:25px;text-align:center;font-size:12px;font-weight:700}
        .MainTable{width:99.9%;margin:0 auto;background-color:#95B8E7}
        .MainTable thead th{background-color:#e7f4fd;height:25px;line-height:25px}
        .MainTable tbody td{background-color:#fff;height:24px;line-height:24px}
        .Cover{width:100%}
        .Cover ul{padding-top:10px;width:100%;padding-bottom:60px}
        .Cover li{width:100%;text-align:center;font-size:16px;font-weight:700;padding-top:10px;font-family:微软雅黑}
        .Cover table{margin:0 auto;width:400px}
        .Cover table td{height:30px;line-height:30px;font-size:14px}
        .Explain{width:98%;padding-top:10px}
        .TestReport{width:100%;padding-top:10px}
        .TestReport h2{width:100%;height:30px;line-height:30px;font-size:16px;font-weight:700;text-align:center;padding-bottom:10px}
        .TestReport table{margin:0 auto;width:780px}
        .TestReport table td{height:25px;line-height:25px}
    </style>
</head>
<body>
    <div id="formdata" style="width:800px;">
        @Html.HiddenFor(m => m.RecordID, new { @id = "HidRecordID" })
        @Html.HiddenFor(m => m.EditType, new { @id = "HidEditType" })
        @Html.HiddenFor(m => m.FilePath, new { @id = "HidFilePath" })
        @Html.HiddenFor(m => m.DetectPersonnelID, new { @id = "HidDetectPersonnelID" }) <!--通过Js进行赋值-->
        @Html.HiddenFor(m => m.DetectTime, new { @id = "HidDetectTime" })
        @Html.HiddenFor(m => m.ProjectID, new { @id = "HidProjectID" })
        @Html.HiddenFor(m => m.SampleID)
        <table border="0" cellpadding="0" cellspacing="0" width="98%" class="DialogTable">
            <tr>
                <td width="70px" align="right">样品名称：</td>
                <td align="left" style="width:210px;">
                    <select id="drop_Sample" name="SampleID" style="width:200px;">
                        @{
                            var SampleList = ViewData["SampleList"] as DataTable;
                            if (SampleList != null)
                            {
                                foreach (DataRow item in SampleList.Rows)
                                {
                                    <option value="@item["id"].ToString()" @(Convert.ToInt32(item["id"]) == Model.SampleID ? "selected" : "")>@item["name"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </td>
                <td width="70px" align="right">项目名称：</td>
                <td align="left">
                    <select id="drop_Project" name="ProjectID" style="width:200px;">
                        @{ 
                            var ProjectList = ViewData["ProjectList"] as DataTable;
                            if (ProjectList != null)
                            {
                                foreach (DataRow item in ProjectList.Rows)
                                {
                                    <option value="@item["ProjectID"].ToString()" @(Convert.ToInt32(item["ProjectID"])==Model.ProjectID?"selected":"") >@item["ProjectName"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </td>
            </tr>

            <!--根据需求，去除该列-->
            <tr style="display:none;">
                <td colspan="4">
                    <select name="TaskNo" style="width:200px;">
                        @{
                            var ExpePlanList = ViewData["ExpePlanList"] as DataTable;
                            if (ExpePlanList != null)
                            {
                                foreach (DataRow item in ExpePlanList.Rows)
                                {
                                    <option value="@item["TaskNo"].ToString()" @(item["TaskNo"].ToString() == Model.TaskNo ? "selected" : "")>@item["TaskNo"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td width="70px" align="right">检测日期：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.DetectTime, new { @style = "width:200px;", @id = "txt_DetectTime", @onclick = "WdatePicker()", @disabled = "disabled" })
                </td>
                <td width="70px" align="right">备注：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.Contents, new { @style = "width:200px;", @id = "txt_Contents" })
                </td>
            </tr>
            <tr>
                <td width="70px" align="right">检验人：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.DetectPersonnelName, new { @style = "width:200px;", @id = "txt_DetectPersonnelName", @disabled = "disabled" })
                </td>
                <td width="70px" align="right">检验标准：</td>
                <td align="left" style="width:150px;">
                    <select name="InsStand" style="width:200px;">
                        @{
                            var InsStandList = ViewData["InsStandList"] as List<string>;
                            foreach (var item in InsStandList)
                            {
                                <option value="@item" @(item == Model.InsStand ? "selected" : "")>@item</option>
                            }
                        }
                    </select>
                </td>       
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <input type="button" id="Btn_Detect" style="width:80px" value="检验" onclick="Detect('@ViewBag.DetectPersonnelID','@ViewBag.DetectPersonnelName')" />
                    <input type="button" id="btn_Save" value="保存" style="width:80px" onclick="LimsJs.FromSubmit('formdata', '/OriginalRecord/Save')" />
                    <a href="/UpFile/@ViewBag.FilePath">导出Execl</a>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="height:700px;">
                    <!--阅览OFFICE-->
                    @Html.Raw(ViewBag.EditorHtml)
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        //检验人赋值
        function Detect(DetectPersonnelID, DetectPersonnelName) {
            $("#HidDetectPersonnelID").val(DetectPersonnelID);
            $("#txt_DetectPersonnelName").val(DetectPersonnelName);
        }
    </script>
</body>