@{
    Layout = "~/Views/Share/_LayOut.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>药品柜管理</title>
    <script src="~/Skins/artDialog/dist/dialog.js"></script>
    <script src="~/Skins/artDialog/dist/dialog-plus.js"></script>
    <script type="text/javascript">
        var cbolist = [];
        function onchange_cbo(cbo) {
            if (cbo.checked) {
                cbolist.push(cbo.value);
            } else {
                if (cbolist.length > 0) {
                    for (var i = 0; i < cbolist.length; i++) {
                        if (cbo.value == cbolist[i]) {
                            cbolist.splice(i, 1);
                            break;
                        }
                    }
                }
            }
        }

        function onclick_deleteLock() {
            if (confirm("请确认是否删除当前选择的药品柜，此操作不可逆！")) {
                if (cbolist.length > 0) {
                    var actionurl = '@Url.Action("Delete_DrugLock", "Drug")' + "?ids=" + cbolist;
                    $.getJSON(actionurl,
                        function (data) {
                            if (data == "删除成功！") {
                                window.location.href = '@Url.Action("DrugLock", "Drug")';
                            }
                        });
                    } else {
                        alert("请先选择要删除的药品柜");
                    }
                }
        }
        function update(id) {
            var d = dialog({
                title: '编辑',
                url: '/NewDrug/DrugLockInfo?id=' + id,
                id: 'id-info',

            });
            d.showModal();
        }
        function add() {
            var d = dialog({
                title: '添加药品柜',
                content: $("#lockadd"),
                okValue: '保存',
                ok: function () {

                    var txt_lockName = encodeURIComponent($("#lockName").val());
                    var ddl_locktype = $("#ddl_locktype").val();
                    var cbo_wxp = $("#cbo_wxp").is(':checked');
                    var cbo_hxp = $("#cbo_hxp").is(':checked');
                    if (txt_lockName == null || txt_lockName == "") {
                        alert("药品柜名称不能为空！");
                        return false;
                    }
                    if (ddl_locktype == "请选择") {
                        alert("请选择药品柜类型！");
                        return false;
                    }
                  
                    //ajax
                    $.post("/Drug/Update_DrugLock", "id=0&_lockName=" + $("#lockName").val() + "&_wxp=" + cbo_wxp + "&_hxp=" + cbo_hxp + "&_locktype=" + ddl_locktype, function (data) {
                        alert(data);
                        window.location.href = '@Url.Action("DrugLock", "Drug")';
                    });

                    return false;
                }

            });
            d.showModal();
        }
    </script>
    <style type="text/css">
        .divList {
            width: 1048px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

            a img {
                border: 0;
            }

        .biaoge {
            width: 1040px;
            font-family: '宋体';
            font-size: 12px;
            color: #10607c;
        }

            .biaoge td {
                text-align: center;
                height: 26px;
                vertical-align: middle;
                border: 1px solid #d4d3d3;
            }
    </style>
</head>
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">药品柜管理</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                药品柜管理
            </div>
            <div class="panel-body">
                <div class="row form-inline">
                    <div class="form-group" style="margin:0 0 20px 50px">

                        @if (Convert.ToBoolean(ViewData["2d3fc650"]))
                        {
                            <button type="button" class="btn btn-primary" onclick="update(0)">新增</button>
                            <button type="button" class="btn btn-danger" onclick="onclick_deleteLock()"><i class="fa fa-search"></i>删除</button>
                        }
                    </div>
                </div>

                <div class="divList">
                    <table cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                            <td>
                                @{List<Model.RoleManage.E_tb_Area> list = ViewData["Arealist"] as List<Model.RoleManage.E_tb_Area>;}
                                <table align="left" width="100%">
                                    @for (int i = 0; i < list.Count; i++)
                                    {

                                        List<Model.tb_DrugLock> druglocklist = new BLL.tb_DrugLockBLL().GetModelList(list[i].AreaID);
                                        int num = druglocklist.Count > 6 ? druglocklist.Count / 6 + 1 : 1;
                                        for (int ii = 1; ii <= num; ii++)
                                        {
                                            <tr>
                                                @for (int iii = 0; iii < 6; iii++)
                                                {
                                                    int colnum = ii * 6 - 6 + iii;
                                                    Model.tb_DrugLock druglock = druglocklist.Count > colnum ? druglocklist[colnum] : null;
                                                    if (druglock != null)
                                                    {
                                                        <td align="center">

                                                            <table style="    margin: 0 0 25px 0px;">
                                                                <tr>
                                                                    <td align="center">

                                                                        <a href='javascript:void(0)' onclick="showwindow('/Drug/doDrugLockInfo/@druglock.id', '详情')">
                                                                            <img src='@Url.Content("~/Content/Images/Lock/" + druglock.pic)' height="136" width="100" alt="@druglock.mark" />
                                                                        </a>

                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <input type="checkbox" onchange="onchange_cbo(this)" value="@druglock.id" />
                                                                        @druglock.lockName
                                                                        <button type="button" class="btn btn-xs btn-primary" onclick="update(@druglock.id)">修改</button>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td align="center">
                                                            &nbsp;
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="lockadd" style="display:none">
        <div class="form-group input-group">
            <span class="input-group-addon">药品柜名称：</span>
            <input type="text" class="form-control"  id="lockName"  >
        </div>
        
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"   id="cbo_wxp">危险品
                </label>
            </div>
            
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="cbo_hxp">化学品
                </label>
            </div>

        </div>
        
        <div class="form-group">
            <div class="input-group">
       
                <span class="input-group-addon">药品类别</span>
                <select class="form-control" id="ddl_locktype" name="ddl_locktype" style="width:120px;">
                    <option value="-1">请选择</option>
                    @{
                        var lockList = DataHelper.GetLockList();
                        foreach (var item in lockList)
                        {
                            <option value="@item" >@item</option>
                        }
                    }

                </select>
            </div>
        </div>

    </div>
</div>
