@using Model.Statistics;
@using Model.RoleManage;
@{
    ViewBag.Title = "未完成工作汇总";
    Layout = "~/Views/Share/_LayOut.cshtml";
}
<script src="~/Skins/echarts/echarts.min.js"></script>


<!--总体未完成情况统计-->
<div id="main" style="width: 98%;height:400px;"></div>

<!--未完成实验计划统计-->
<div style="height:560px;">
    <div style="float:left; width:48%;">
        <!--内容-->
        <div class="panel panel-default">
            <div class="panel-heading">
                实验计划统计
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">单位名称</span>
                            <select class="form-control" id="dropAreaID" name="areaid">
                                @{
                                    var arealist = ViewData["AreaList"] as List<E_tb_Area>;
                                    foreach (var item in arealist)
                                    {
                                        <option value="@item.AreaID">@item.AreaName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">年份</span>
                            <select class="form-control" id="dropYear" name="year">
                                @{
                                    for (int i = 2012; i <= DateTime.Now.Year; i++)
                                    {
                                        <option value="@i" @(i==DateTime.Now.Year?"selected":"") >@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">月份</span>
                            <select class="form-control" id="dropMonth" name="month">
                                @{
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i" @(i==DateTime.Now.Month?"selected":"") >@(i)月</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="javascript:GetExpePlanList()"><i class="fa fa-search"></i> 查询 </a>
                    </div>
                </div>

                <div style="width:100%; height:445px;padding-top:10px; overflow-x:hidden; overflow-y:auto;">
                    <table id="tab_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>检验负责人</th>
                                <th>已完成实验计划</th>
                                <th>未完成计划数量</th>
                                <th>总计划数量</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_ExpePlanStatisticslist">
                            @*@{
                                var ExpePlanStatisticslist = ViewBag.ExpePlanStatisticslist as List<E_ExpePlanStatistics>;
                                foreach (var item in ExpePlanStatisticslist)
                                {
                                    <tr>
                                        <td>@item.headpersonnename</td>
                                        <td><a href="/ExpePlan/ExpePlanList?headpersonnelid=@item.headpersonnelid&status=1">@item.completed</a></td>
                                        <td><a href="/ExpePlan/ExpePlanList?headpersonnelid=@item.headpersonnelid&status=2">@item.notcompleted</a></td>
                                        <td><a href="javascript:void(0)">查看统计</a></td>
                                    </tr>
                                }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel - body-->
        </div>
    </div>

    <div id="plan" style="float:right; width:48%; height:570px;">
        <div id="expeplan" style="width:100%;height:100%;"></div>
    </div>
</div>

<!--未审核与未批准检验报告统计-->
<div style="height:400px;">
    <div style="float:left; width:48%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                检验报告统计
            </div>
            <div class="panel-body">

                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">单位名称</span>
                            <select class="form-control" id="dropTestReportAreaID" name="testreportareaid">
                                @{
                                    var arealist2 = ViewData["AreaList"] as List<E_tb_Area>;
                                    foreach (var item in arealist2)
                                    {
                                        <option value="@item.AreaID">@item.AreaName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">起始年份</span>
                            <select class="form-control" id="dropStartYear" name="startyear">
                                @{
                                    for (int i = 2012; i <= DateTime.Now.Year; i++)
                                    {
                                        <option value="@i" @(i == DateTime.Now.Year ? "selected" : "")>@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">结束年份</span>
                            <select class="form-control" id="dropEndYear" name="endyear">
                                @{
                                    for (int i = 2012; i <= DateTime.Now.Year; i++)
                                    {
                                        <option value="@i" @(i == DateTime.Now.Year ? "selected" : "")>@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="javascript:GetTestReportList()"><i class="fa fa-search"></i> 查询 </a>
                    </div>
                </div>

                <div style="width:100%;height:275px; padding-top:10px; overflow-x:hidden;overflow-y:auto;" id="TestReportStatisticsList">
                </div>
            </div>
            <!-- /.panel - body-->
        </div>
    </div>

    <div id="TestReport" style="float:right; width:48%; height:400px;">
        <div id="TestReportChart" style="width:100%;height:100%;"></div>
    </div>

</div>

<script type="text/javascript">
    var colorList = ['#C23531', '#2F4554', '#61A0A8', '#D48265', '#91C7AE', '#749F83', '#CA8622', '#BDA29A', '#6E7074', '#546570', '#C4CCD3', '#996e55', '#02716d'];

    //总体未完成情况统计
    function GetSummaryWork() {
        $.getJSON("/ExpeStatistics/SummaryWork", function (result) {
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                title: {
                    text: '未完成工作',
                    subtext: '数据来自系统实时统计'
                },
                tooltip: {},
                xAxis: {
                    data: ["未完成实验计划", "未审核检验报告", "未批准检验报告"]
                },
                yAxis: {},
                series: [{
                    name: '数量',
                    type: 'bar',
                    data: eval(result).result,
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                return colorList[params.dataIndex]
                            }
                        }

                    }
                }]
            };
            myChart.setOption(option);
        });
    }

    //获取实验计划统计列表
    function GetExpePlanList()
    {
        var areaid = $("#dropAreaID").val();
        var year = $("#dropYear").val();
        var month = $("#dropMonth").val();
        var starttime = year + "-" + month + "-01";
        var endtime = year + "-" + (parseInt(month) + 1) + "-01";
        if (parseInt(month) == 12)
        {
            endtime = (parseInt(year) + 1) + "-01-01";
        }
        var data = "areaid=" + areaid + "&headpersonnelid=0&starttime=" + starttime + "&endtime=" + endtime;
        $.getJSON("/ExpeStatistics/GetExpePlanList?" + data, function (result) {
            var jsondata = eval(result);
            var html = "";
            for (var i = 0; i < jsondata.length; i++) {

                var style = "";
                if (parseInt(jsondata[i].notcompleted) > 0)
                {
                    style = "style='color:red;font-weight: bold;'";
                }

                html += "<tr>";
                html += "   <td>"+jsondata[i].headpersonnename+"</td>";
                html += "   <td><a href='/ExpePlan/ExpePlanList?areaid="+areaid+"&starttime="+starttime+"&endtime="+endtime+"&headpersonnelid="+jsondata[i].headpersonnelid+"&status=1'>"+jsondata[i].completed+"</a></td>";
                html += "   <td><a " + style + " href='/ExpePlan/ExpePlanList?areaid=" + areaid + "&starttime=" + starttime + "&endtime=" + endtime + "&headpersonnelid=" + jsondata[i].headpersonnelid + "&status=2'>" + jsondata[i].notcompleted + "</a></td>";
                html += "   <td>" + (parseInt(jsondata[i].completed) + parseInt(jsondata[i].notcompleted)) + "</td>";
                //html += "   <td><a href='javascript:GetExpePlanStatistics(" + areaid + "," + jsondata[i].headpersonnelid + ",\"" + starttime + "\",\"" + endtime + "\")'>查看统计</a></td>";
                html += "</tr>";
            }
            $("#tbody_ExpePlanStatisticslist").html(html);
            GetExpePlanStatistics(areaid, 0, starttime, endtime);
        });
    }

    //实验计划完成情况统计
    function GetExpePlanStatistics(areaid, headpersonnelid, starttime, endtime) {
        $("#plan").html('<div id="expeplan" style="width:100%;height:100%;"></div>');
        var data = "areaid=" + areaid + "&headpersonnelid=" + headpersonnelid + "&starttime=" + starttime + "&endtime=" + endtime;

        $.getJSON("/ExpeStatistics/ExpePlanStatistics?" + data, function (result) {
            var myChart = echarts.init(document.getElementById('expeplan'));
            option = {
                title: {
                    text: '实验计划'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['已完成实验计划', '未完成实验计划']
                },
                grid: {
                    left: '3%',
                    right: '1%',
                    bottom: '1%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                },
                yAxis: {
                    type: 'category',
                    data: eval(result).names //['张三', '李四', '王五']
                },
                series: [
                    {
                        name: '已完成实验计划',
                        type: 'bar',
                        data: eval(result).completeds//[120, 130, 125]
                    },
                    {
                        name: '未完成实验计划',
                        type: 'bar',
                        data: eval(result).notcompleted//[5, 20, 15]
                    }
                ]
            };
            myChart.setOption(option);
        });

        //$.getJSON("/ExpeStatistics/ExpePlanStatistics?" + data, function (result) {
        //    var jsondata = eval(result);
        //    var myChart = echarts.init(document.getElementById('expeplan'));
        //    option = {
        //        title: {
        //            text: ''
        //        },
        //        tooltip: {
        //            trigger: 'axis'
        //        },
        //        legend: {
        //            data:jsondata.namearray
        //        },
        //        toolbox: {
        //            show: true,
        //            feature: {
        //                dataZoom: {
        //                    yAxisIndex: 'none'
        //                },
        //                dataView: { readOnly: false },
        //                magicType: { type: ['line', 'bar'] },
        //                restore: {},
        //                saveAsImage: {}
        //            }
        //        },
        //        xAxis: {
        //            type: 'category',
        //            boundaryGap: false,
        //            data: jsondata.dataarray
        //        },
        //        yAxis: {
        //        },
        //        series: jsondata.serieslist
        //    };
        //    myChart.setOption(option);
        //});

    }

    //获取检验报告统计列表
    function GetTestReportList()
    {
        var areaid = $("#dropTestReportAreaID").val();
        var startyear = $("#dropStartYear").val();
        var endyear = $("#dropEndYear").val();
        var data = "areaid=" + areaid + "&startyear=" + startyear + "&endyear=" + endyear;
        $("#TestReportStatisticsList").load("/ExpeStatistics/GetTestReportList?" + data);

        GetExamineApprovalStatistics(data); //显示报表
    }

    //未审核/未批准统计
    function GetExamineApprovalStatistics(data) {
        $("#TestReport").html('<div id="TestReportChart" style="width:100%;height:100%;"></div>');
        var myChart = echarts.init(document.getElementById('TestReportChart'));
        $.getJSON("/ExpeStatistics/ExamineApprovalStatistics?" + data, function (result) {
            var jsondata = eval(result);
            option = {
                title: {
                    text: '历年工作量对比'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: jsondata.namearray//['未审核', '未批准']
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: { readOnly: false },
                        magicType: { type: ['line', 'bar'] },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: jsondata.dataarray //['9月1号', '9月2号', '9月3号', '9月4号', '9月5号', '...', '9月30号']
                },
                yAxis: {
                },
                series: jsondata.serieslist
            };
            myChart.setOption(option);
        });
    }

    //页面初始化加载
    $(document).ready(function () {
        GetSummaryWork();
        GetExpePlanList();
        GetTestReportList();

        @*var starttime = "@(DateTime.Now.ToString("yyyy-MM")+"-01")";
        var endtime = "@(DateTime.Now.AddMonths(1).ToString("yyyy-MM")+"-01")";
        GetExamineApprovalStatistics(starttime, endtime);*@
    });

</script>
