@using Model.Statistics;
@{
    ViewBag.Title = "未完成工作汇总";
    Layout = "~/Views/Share/_LayOut.cshtml";
}
<script src="~/Skins/echarts/echarts.min.js"></script>


<!--总体未完成情况统计-->
<div id="main" style="width: 98%;height:400px;"></div>

<!--未完成实验计划统计-->
<div style="height:600px;">
    <div style="float:left; width:48%;">
        <!--内容-->
        <div class="panel panel-default">
            <div class="panel-heading">
                实验计划统计
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="width:100%; height:505px; overflow-x:hidden; overflow-y:auto;">
                    <table id="tab_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>检验负责人</th>
                                <th>已完成实验计划</th>
                                <th>未完成计划数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ExpePlanStatisticslist = ViewBag.ExpePlanStatisticslist as List<E_ExpePlanStatistics>;
                                foreach (var item in ExpePlanStatisticslist)
                                {
                                    <tr>
                                        <td>@item.headpersonnename</td>
                                        <td>@item.completed</td>
                                        <td>@item.notcompleted</td>
                                        <td><a href="/ExpePlan/ExpePlanList?headpersonnelid=@item.headpersonnelid">查看明细</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel - body-->
        </div>
    </div>
    <div id="plan" style="float:right; width:48%; height:600px;">
    </div>
</div>

<!--未审批与未批准检验报告统计-->
<div style="height:400px;">
    <div style="float:left; width:48%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                检验报告统计
            </div>
            <div class="panel-body">
                <div style="width:100%;height:305px; overflow-x:hidden;overflow-y:auto;">
                    <table id="tab_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>抽样日期</th>
                                <th>未审批数</th>
                                <th>未批准数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var TestReportMonthDataStatistics = ViewBag.TestReportMonthDataStatisticslist as List<E_TestReportDataStatistics>;
                                foreach (var item in TestReportMonthDataStatistics)
                                {
                                    <tr>
                                        <td>@item.updatetime</td>
                                        <td><a href="/TestReport/TestReportList?samplingtimestart=@(Convert.ToDateTime(item.updatetime+"-01").ToString("yyyy-MM-dd"))&samplingtimeend=@(Convert.ToDateTime(item.updatetime+"-01").AddMonths(1).ToString("yyyy-MM-dd"))&isexamine=2&isapproval=0&issearch=1">@item.examinecount</a></td>
                                        <td><a href="/TestReport/TestReportList?samplingtimestart=@(Convert.ToDateTime(item.updatetime+"-01").ToString("yyyy-MM-dd"))&samplingtimeend=@(Convert.ToDateTime(item.updatetime+"-01").AddMonths(1).ToString("yyyy-MM-dd"))&isexamine=0&isapproval=2&issearch=1">@item.approvalcount</a></td>
                                        <td><a href="javascript:GetExamineApprovalStatistics('@(Convert.ToDateTime(item.updatetime+"-01").ToString("yyyy-MM-dd"))','@(Convert.ToDateTime(item.updatetime+"-01").AddMonths(1).ToString("yyyy-MM-dd"))')">查看报表</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel - body-->
        </div>
    </div>
    <div id="TestReport" style="float:right; width:48%; height:400px;">
    </div>
</div>

<script type="text/javascript">
    var colorList = ['#C23531', '#2F4554', '#61A0A8', '#D48265', '#91C7AE', '#749F83', '#CA8622', '#BDA29A', '#6E7074', '#546570', '#C4CCD3', '#996e55', '#02716d'];

    //总体未完成情况统计
    function GetSummaryWork() {
        $.getJSON("/ExpeStatistics/SummaryWork", function (result) {
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                title: {
                    text: '未完成工作',
                    subtext: '数据来自系统实时统计'
                },
                tooltip: {},
                xAxis: {
                    data: ["未完成实验计划", "未审批检验报告", "未批准检验报告"]
                },
                yAxis: {},
                series: [{
                    name: '数量',
                    type: 'bar',
                    data: eval(result).result,
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                return colorList[params.dataIndex]
                            }
                        }

                    }
                }]
            };
            myChart.setOption(option);
        });
    }

    //实验计划完成情况统计
    function GetExpePlanStatistics() {
        $.getJSON("/ExpeStatistics/ExpePlanStatistics", function (result) {
            var myChart = echarts.init(document.getElementById('plan'));
            option = {
                title: {
                    text: '实验计划'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['已完成实验计划', '未完成实验计划']
                },
                grid: {
                    left: '3%',
                    right: '1%',
                    bottom: '1%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                },
                yAxis: {
                    type: 'category',
                    data: eval(result).names //['张三', '李四', '王五']
                },
                series: [
                    {
                        name: '已完成实验计划',
                        type: 'bar',
                        data: eval(result).completeds//[120, 130, 125]
                    },
                    {
                        name: '未完成实验计划',
                        type: 'bar',
                        data: eval(result).notcompleted//[5, 20, 15]
                    }
                ]
            };
            myChart.setOption(option);
        });
    }
    
    //未审批/未批准统计
    function GetExamineApprovalStatistics(starttime, endtime)
    {
        var myChart = echarts.init(document.getElementById('TestReport'));
        $.getJSON("/ExpeStatistics/ExamineApprovalStatistics?starttime=" + starttime + "&endtime=" + endtime, function (result) {
            option = {
                title: {
                    text: '未审批/未批准统计'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['未审批', '未批准']
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: { readOnly: false },
                        magicType: { type: ['line', 'bar'] },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: eval(result).dataarray //['9月1号', '9月2号', '9月3号', '9月4号', '9月5号', '...', '9月30号']
                },
                yAxis: {
                },
                series: [
                    {
                        name: '未审批',
                        type: 'line',
                        data: eval(result).examinearray //[11, 11, 15, 13, 12, 13, 10]
                    },
                    {
                        name: '未批准',
                        type: 'line',
                        data: eval(result).approvalarray // [10, 9, 5, 12, 3, 10, 7]
                    }
                ]
            };
            myChart.setOption(option);
        });
    }

    //页面初始化加载
    $(document).ready(function () {
        GetSummaryWork();
        GetExpePlanStatistics();
        var starttime = "@(DateTime.Now.ToString("yyyy-MM")+"-01")";
        var endtime = "@(DateTime.Now.AddMonths(1).ToString("yyyy-MM")+"-01")";
        GetExamineApprovalStatistics(starttime, endtime);
    });

</script>
